.header {
  overflow: auto; }

.blue-block {
  width: 80%;
  height: 342px;
  background: #7DCDE3;
  z-index: -1;
  /*send backward*/
  float: left;
  margin-top: 220px;
  margin-bottom: 220px; }

.socials {
  width: 20%;
  float: left;
  margin-top: 220px; }

.logo {
  position: absolute;
  width: auto;
  margin: auto;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 1;
  top: 140px; }

.socials a {
  width: 20%;
  display: block;
  text-align: center;
  padding: 16px;
  font-size: 35px;
  margin-right: 1480px;
  margin-top: 20px; }

.facebook {
  background: transparent;
  color: #1E3141; }

.twitter {
  background: transparent;
  color: #1E3141; }

.instagram {
  background: transparent;
  color: #1E3141; }

.quote {
  width: 100%;
  background: #EFF3F4; }

.quote h2 {
  color: #1E3141;
  width: 60%;
  font-family: Nunito;
  font-style: italic;
  text-align: center;
  line-height: 33px;
  margin: auto;
  padding-top: 60px;
  padding-bottom: 60px; }

.introduction__row--container {
  background: #EFF3F4;
  width: 100%;
  height: auto; }

.iyengar__row--container {
  background: #EFF3F4;
  width: 100%;
  padding-top: 60px; }

.text__container--iyengar1, .text__container--iyengar2 {
  float: left;
  width: 50%;
  font-weight: normal;
  font-size: 19px;
  line-height: 26px; }
  .text__container--iyengar1 p, .text__container--iyengar2 p {
    width: 60%; }

.text__container--iyengar1 p {
  float: right;
  margin-right: 50px; }

.text__container--iyengar2 p {
  float: left;
  margin-left: 50px; }

.clearfix::after {
  content: "";
  clear: both;
  display: table; }

.about-container {
  width: 67%;
  margin: auto; }
  .about-container h1 {
    padding-bottom: 60px; }

.about-container p {
  font-weight: normal;
  font-size: 19px;
  line-height: 26px; }

.introduction__row--team {
  background: #EFF3F4;
  width: 100%; }
  .introduction__row--team h1 {
    text-align: center;
    padding-top: 60px; }

.col__team {
  background: #EFF3F4;
  float: left;
  padding: 10px;
  margin: 0%; }

.col__team--border {
  width: 90%;
  margin: auto; }

.col__teacher {
  width: 33.1%;
  float: left;
  padding: 5%;
  height: 820px; }
  .col__teacher h2 {
    text-align: center;
    margin-bottom: 5%; }
    .col__teacher h2 p {
      font-size: 19px;
      line-height: 26px; }

.line {
  border: 1px solid black;
  width: 60%;
  margin: auto;
  margin-bottom: 5%; }

.iyengar__images--container {
  width: 60%;
  margin: auto; }

.iyengar-images {
  width: 32%;
  padding-top: 50px;
  padding-bottom: 50px; }

body {
  background-color: white; }

nav {
  background: #EFF3F4;
  padding: 20px;
  height: 100px;
  display: block; }
  nav ul {
    text-align: center;
    padding: 20px; }
    nav ul li {
      font-size: 20px;
      list-style: none;
      display: inline;
      margin: 145px;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      color: #1E3141; }
      nav ul li a:link {
        color: #1E3141;
        text-decoration: none; }

.iyengar__timetable {
  width: 100%;
  height: auto; }

.iyengar__calendar {
  width: 80%;
  margin: auto; }
  .iyengar__calendar h1 {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px; }

.week-calendar {
  background: #EFF3F4; }

.weekday {
  background: #1E3141;
  color: white;
  padding: 2% 0;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.015em; }

.message-header {
  background: #7DCDE3;
  color: white;
  font-weight: 900;
  font-size: 16px;
  line-height: 128.91%;
  letter-spacing: -0.015em;
  text-align: center;
  border-radius: 10px 10px 0 0;
  padding: 5%;
  margin: 0.1%; }

.message-text {
  background: white;
  font-size: 14px;
  border-radius: 0 0 10px 10px;
  padding: 5%;
  margin: 0.1%; }

.class__descriptions {
  text-align: center;
  color: #1E3141;
  font-weight: bold;
  padding-bottom: 5%;
  font-size: 14px; }

.calendar__events--friday {
  margin-top: -300px; }

.calendar__events--saturday {
  margin-top: -150px; }

.iyengar__membership--container {
  width: 100%;
  height: auto; }

.membership--container {
  width: 80%;
  height: auto;
  margin: auto; }

.membership-wrapper {
  text-align: center;
  width: 80%;
  height: 399px;
  margin: 0 auto; }

.membership-box {
  vertical-align: top;
  width: 14%;
  height: 80%;
  margin: 0 auto;
  display: inline-block;
  margin-left: 20px;
  background-color: white;
  border: 1px solid #B4B2B5;
  border-radius: 5px; }

.class-card {
  margin: 25px auto;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  color: white;
  background-color: #1E3141; }

.membership-content {
  color: #898989;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  list-style-type: none; }

.extra-note {
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 18px;
  color: #898989;
  position: absolute;
  margin-top: 3%;
  width: 10%; }

.buy-btn {
  text-decoration: none;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  color: white;
  text-transform: uppercase;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #7DCDE3;
  text-align: center;
  margin-top: 40%; }

.extra__info--wrapper {
  width: 60%;
  height: 500px;
  margin: 0 auto; }

.things-to-know {
  width: 40%;
  height: auto;
  float: left; }
  .things-to-know h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 65px;
    color: #1E3141;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px; }
    .things-to-know h1 p {
      font-style: normal;
      font-weight: normal;
      font-size: 21px;
      line-height: 29px; }

.yoga__gift--vouchers {
  width: 40%;
  height: auto;
  float: right;
  margin: 0 auto; }
  .yoga__gift--vouchers h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 65px;
    color: #1E3141;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px; }
    .yoga__gift--vouchers h1 p {
      font-style: normal;
      font-weight: normal;
      font-size: 21px;
      line-height: 29px; }

.vouchers-photo {
  width: 130%; }

.iyengar__contact--container {
  border: 1px solid blue;
  width: 100%;
  height: auto;
  margin-top: 10%; }

.contact--container {
  width: 80%;
  height: auto;
  border: 1px solid red;
  margin: auto; }

.content-wrapper {
  text-align: center;
  width: 80%;
  height: 399px;
  border: 1px solid green;
  margin: 0 auto; }

.info-form {
  width: 50%;
  height: 100%;
  border: 1px solid orange;
  float: left;
  margin: 0 auto; }

.address-map {
  width: 50%;
  height: 100px;
  border: 1px solid purple;
  float: left;
  margin: 0 auto; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif; }

header {
  background: #7DCDE3; }

body {
  height: 100%; }

.iyengar__content--title {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 65px;
  color: #1E3141;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px; }

/*# sourceMappingURL=style.css.map */
