.iyengar__contact--container{
  border: 1px solid blue;
  width: 100%;
  height: 1000%;
  margin-top: 7%;
}

.contact--container{
  width: 80%;
  height: auto;
  border: 1px solid red;
  margin: auto;
}

.content-wrapper{
  text-align:center;
  width:80%;
  height: 399px;
  border: 1px solid green;
  margin: 0 auto;
  h1{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #898989;
    margin: 2%;
    p{
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 25px;

    }
  }
}

input{
  width: 470px;
  height: 50px;
  padding: 0px 15px 0px 15px;
  background: transparent;
  outline: none;
  border-bottom: 1px solid black;
 }

.info-form{
  width: 50%;
  height: 100%;
  border: 1px solid orange;
  float: left;
  text-align: left;

}

.address-map{
  width: 50%;
  height: 100px;
  border: 1px solid purple;
  float: left;

}

.contact-form{
  width: 500px;

  // margin: 50px auto ;
}
