  body {
    background-color: white;
  }
  .top__navegation--menu {
    // position: sticky;
    position: fixed;
    width: 100%;
    height: 142px;
    background: $gray-color;
    padding: 20px;
    height: 100px;
    display: block;
    a:hover{
      color: $light_blue_color;
    }
    .top__navegation--list {
      text-align: center;
      padding:20px;
      width: 90%;
      .nav-list {
        font-size: 20px;
        list-style: none;
        display: inline;
        margin: 8%;
        // font-family: Nunito;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        color: $blue-color;
        // line-height: 24px;
        .nav-link:link{
          color:$blue-color;
          text-decoration: none;
        }
      }
    }
  }


  .footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 15vh;
    background-color: $blue_color;
    p{
      font-size: 17px;
      color: white;
      line-height: 23px
    }
  }

  .footer_logo{
    width: 10%;
    height:auto;
  }

  .social{
  width: 60px;
  height:60px;
  padding: 10px;
}
