.iyengar__images--container{
  // border:  1px solid green;
  width: 60%;
  margin: auto;
}

.iyengar-images{
// border: solid 1px red;
width: 32%;
// display: block;
// margin: auto;
padding-top: 50px;
// margin: 0 3px;
padding-bottom: 50px;
}
