.quote{
  // position: absolute;
  width: 100%;
  // height: 292px;
  // left: 0px;
  // top: 959px;
  background: $gray-color;
}

.quote h2{
  color: $blue-color;
  // position: absolute;
  width: 60%;
  // height: 183px;
  // left: 190px;
  font-family: Nunito;
  font-style: italic;
  text-align: center;
  // font-weight: 600;
  // font-size: 24px;
  line-height: 33px;
  // text-align: center;
  margin: auto;
  padding-top: 60px;
  padding-bottom: 60px;
  // border: solid 1px red,
}

.introduction__row--container {
  background: $gray-color;
  width: 100%;
  height: auto;
  // position: relative;
}

.iyengar__row--container{
  background: $gray-color;
  width: 100%;
  // border: 1px solid red;
  // position: absolute;
  padding-top: 60px;
  // float: none;
}

.text__container--iyengar1, .text__container--iyengar2 {
  float: left;
  // margin-left: 25%;
  // border: 1px solid red;
  // background: blue;
  width: 50%;
  font-weight: normal;
  font-size: 19px;
  line-height: 26px;

  p{
    width: 60%;
    // border: 1px solid blue;
    // background: red;
    // margin: auto;
  }
}

.text__container--iyengar1 p{
   // padding-left: 15%;
   float: right;
   margin-right: 50px;
}

.text__container--iyengar2 p{
// padding-left: 5%;
float: left;
margin-left: 50px;
}


.clearfix::after{
  content: "";
  clear: both;
  display: table;
  // display: block;

}

.about-container{
  // border: 1px solid green;
  // text-align: center;
  width: 67%;
  margin: auto;
  h1{
    padding-bottom: 60px;
  }
}

.about-container p {
    font-weight: normal;
    font-size: 19px;
    line-height: 26px;
  }
