.header {
  overflow: auto;
}

.blue-block{
  // position: absolute;
  width: 80%;
  height: 360px;

  // left: 0px;
  // top: 361px;
  background: $light-blue-color;
  // opacity: 80%;
  z-index : -1;/*send backward*/
  float: left;
  margin-top: 300px;
  margin-bottom: 220px;
}

.socials {
  width: 20%;
  float: left;
  margin-top: 330px;
}

.logo{
  position: absolute;
  width: 35%;
  margin: auto;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 1;
  top: 140px;
}

.socials a{
  width: 20%;
  display: block;
  text-align: center;
  padding: 16px;
  font-size: 35px;
  margin-right: 1480px;
  margin-top: 20px;
  // border: 1px solid red;
}

.facebook {
  background: transparent;
  color: $blue-color;
}

.twitter {
  background: transparent;
  color: $blue-color;
}

.instagram {
  background: transparent;
  color: $blue-color;
}
