.blue-block{
  position: absolute;
  width: 1500px;
  height: 342px;
  left: 0px;
  top: 361px;
  background: $light-blue-color;
  opacity: 80%;
  z-index : -1;/*send backward*/
  position : absolute;
}

.logo{
  display: block;
  margin: 0 auto;
  padding-top: 50px;
}
