.iyengar__membership--container{
  // border: 1px solid blue;
  width: 100%;
  height: auto;
}

.membership--container{
  width: 80%;
  height: auto;
  // border: 1px solid red;
  margin: auto;


}

.membership-wrapper{
  // margin:20px auto;
  text-align:center;
  width:80%;
  height: 399px;
  // border: 1px solid green;
  margin: 0 auto;

}

.membership-box{
  vertical-align: top;
  width:14%;
  // height: 300px;
  height: 80%;
  margin: 0 auto;
  display: inline-block;
  margin-left: 20px;
  // border-radius:5px;
  // transition:0.3s;
  background-color: white;
  border: 1px solid #B4B2B5;
  border-radius:5px;
  // list-style-type: none;
  // position: relative;
}


.class-card{
  margin: 25px auto;
  // list-style-type: none;
  text-align:center;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  color: white;
  background-color: $blue-color;
  // position: absolute;
 // top: 0;
}

.membership-content{
  color: #898989;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  list-style-type: none;
}

.extra-note{
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 18px;
  color: #898989;
  position: absolute;  //???
  margin-top: 3%;
  width: 10%;

}

.buy-btn{
  text-decoration:none;
  border-radius:10px;
  border: none;
  font-size: 16px;
  color: white;
  text-transform: uppercase;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: $light-blue-color;
  text-align:center;
  margin-top: 40%;

}

.extra__info--wrapper {
  // margin:20px auto;
  // text-align:center;
  width:60%;
  height: 500px;
  // border: 1px solid green;
  margin: 0 auto;
}

.things-to-know{
  width:40%;
  height: auto;
  // border: 1px solid black;
  float: left;
    h1{
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 65px;
    color: $blue-color;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    p{
      font-style: normal;
      font-weight: normal;
      font-size: 21px;
      line-height: 29px;
    }
  }
}

.yoga__gift--vouchers{
  width:40%;
  height: auto;
  // margin: 0 10%;
  float: right;
  // border: 1px solid red;
  margin: 0 auto;
    h1{
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 65px;
    color: $blue-color;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    p{
      font-style: normal;
      font-weight: normal;
      font-size: 21px;
      line-height: 29px;
    }
  }
}

.vouchers-photo{
 width: 130%;
  // margin-top: -100px;
}
