.iyengar__timetable{
  width: 100%;
  height: auto;
  // border: 1px solid blue,
}

.iyengar__calendar{
  width: 80%;
  height: auto;
  // border: 1px solid red;
  margin: auto;
}

.tableRow{
 width:100%;
 height: auto;
 // border:1px solid pink;
 background: $gray-color;
 border-radius: 0 0 10px 10px;
}

.tableCol{
 width:14.28%;
 float:left;
 background: $blue-color;
 // opacity: 80%;
 h1{
   color: white;
   font-weight: bold;
   font-size: 16px;
   line-height: 24px;
   letter-spacing: -0.015em;
   border-left: 1px solid white;
   text-align: center;
   padding-top: 30px;
   padding-bottom: 30px;
 }
}

.message-header{
  background: $light-blue-color;
  color: white;
  font-weight: 900;
  font-size: 16px;
  line-height: 128.91%;
  letter-spacing: -0.015em;
  text-align: center;
  border-radius: 10px 10px 0 0;
  padding: 5%;
  margin: 0.1%;
}

.message-text{
  background: white;
  font-size: 14px;
  border-radius:  0 0 10px 10px;
  padding: 5%;
  margin: 0.1%;
}

.class__descriptions{
  text-align: center;
  color: $blue-color;
  font-weight: bold;
  padding-bottom: 5%;
  font-size: 14px;
}


.col02{       //zxjkhcvsuhfw8UGFw7g7WG7>>>???????
  // margin-top: 3%;
}

.op0{
  visibility: hidden;
}

.op01 {
// margin-left: 2px;
// margin-right: 3px;

}

.op02{
  margin-top: 3%;
}

.op03{
  margin-top: 7%;
  // padding-left: 3px;
  // padding-right: 3px;

}
.op04{
margin-top: -4%;
}

.op05{
 // margin-top: 3%;
}

.op06{

}

.op07{
margin-top: 6%;
}

.op08{
margin-top: 6%;
}

.op09{
 // margin-top: 5%;
}

.op10{
 // margin-top: 8%;
}
