@import 'variables';
@import 'logo';
@import 'intro';
@import "team";
@import 'images';
@import 'desktop';


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

header{
  background: $light-blue-color;
}

body{
  height: 100%;
}
